[value="Successfully"] {
  color: rgb(224, 4, 4) !important;
}
[value="Canceled"] {
  color: cyan !important;
}
[value="Processing"] {
  color: rgb(167, 6, 167) !important;
}
[value="Confirmed"] {
  color: lawngreen !important;
}
.online {
  color: blue;
}
