[value="Successfully"] {
  color: red !important;
}
[value="Canceled"] {
  color: cyan !important;
}
[value="Processing"] {
  color: purple !important;
}
[value="Confirmed"] {
  color: lawngreen !important;
}
.online {
  color: blue;
}
